.codefont {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
    font-weight: 400;
    color: #EEEEEE;
}

.control_keyword {
    color: #66A;
    font-weight: 600;
}

.field {
    color: #6AA;
}

.plain_type {
    color: #44A;
    font-weight: 600;
}

.keyword_type {
    color: #A44;
    font-weight: 600;
}